.btn-register {
    background: #007099;
    color: #FCFCFC;
    border: 2px solid #007099;
    margin: 0 0 0 20px;
    font-size: 15px;
    border-radius: 12px;
    letter-spacing: 0.75px;
    padding: 16px 24px;
    font-weight: 600px;
    line-height: 24px;
    cursor: pointer;
    text-decoration: none;
}

.btn-register:focus {
    outline: none;
}

.btn-register:active {
    transform: scale(0.98);
}