.btn-google {
    border: none;
    cursor: pointer;
    text-decoration: none;
    width: 156px;
    height: 46px;
    background: #DE5246;
    border-radius: 8px;
    color: #FCFCFC;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.25px;
    display: flex;
    align-items: center;
}

.btn-google:focus {
    outline: none;
}

.btn-google:active {
    transform: scale(0.98);
}

.google-icon {
    padding: 0 0 0 39.5px;
}

.btn-google-text {
    padding: 0 0 0 12px;
}