/* OTP */
.otp-resubmit-message {
    display: none;
    width: 178px;
    height: 48px;
    border: 1px solid #00994D;
    border-radius: 8px;
    margin: 21px 0 -18px 0;
    align-items: center;
    position: relative;    
}

.otp-resubmit-message.show {
    display: flex;
}

.otp-resubmit-icon {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 24px;
}

.resubmit-message {
    position: absolute;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.25px;
    left: 54px;
    color: #00994D;
}

.check-icon {
    width: 16px;
    height: 16px;
}

.otp-confirm-msg {
    width: 237px;
    height: 48px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    margin-top: 34px;
}

.otp-confirm-msg.loading {
    color: #D9DBE9;
}

.no-valinum {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.no-valinum-txt {
    font-size: 15px;
    line-height: 24px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.75px;
    padding-bottom: 6px;
}

.re-send-valinum {
    padding-right: 6px;
}

.alt-register {
    padding-left: 6px;
}

.spinner {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 50%;
    top: 58%;
    transform: translateX(-50%);
    display: none;
}

.spinner.show {
    display: block;
}
