/* Modal */
.modal-wrapper {
    background: #fff;
    width: 600px;
    height: 450px;
    transition: all .5s ease;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.modal-content {
    width: 100%;
    height: 100%;
}

.modal-header {
    position: relative;
    height: 72px;
    border-bottom: 2px solid #D9DBE9;
}

.modal-header-btn {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 24px;
    top: 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-header-title {
    position: absolute;
    width: 125px;
    height: 24px;
    left: 237px;
    top: 24px;
    text-align: center;
}

.back-drop {
    background: rgba(63, 61, 61, 0.692);
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 1.3s;
    width: 100%;
}

.modal-body {
    width: 100%;
    height: 100%;
}

.modal-link {
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.75px;
    color: #007099;
}

.modal-link:hover {
    text-decoration: underline;
    cursor: pointer;
}


/* Auth Content */
.register-modal-content {
    width: 326px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 34px auto 0 auto;
}

#horizontal-line {
    width: 100%; 
    text-align: center; 
    border-bottom: 2px solid #D9DBE9; 
    line-height: 0.1em;
    margin: 36px 0 34px 0; 
}

#horizontal-line-text {
    background:#fff; 
    padding:0 4px; 
    color: #6E7191;
    font-weight: 500;
    font-size: 13px;
}

.modal-social-btns {
    width: 325px;
    height: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.already-acc {
    display: flex;
    justify-content: flex-start;
    margin: 12px 0 0 0;
}

#already-acc-txt {
    letter-spacing: 0.75px;
    font-size: 15px;
    line-height: 24px;
    width: 126px;
    height: 24px;
    color: #4E4B66;
}

.register-link {
    margin: 0 0 0 6px;
}

/* OTP Content */
.otp-confirm-msg {
    width: 237px;
    height: 48px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
}

.no-valinum {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.no-valinum-txt {
    font-size: 15px;
    line-height: 24px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.75px;
    padding-bottom: 6px;
}

.re-send-valinum {
    padding-right: 6px;
}

.alt-register {
    padding-left: 6px;
}