/* Modal */
.modal-wrapper {
    background: #fff;
    width: 600px;
    height: 450px;
    transition: all .5s ease;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.modal-wrapper-medium {
    background: #fff;
    width: 600px;
    height: 473px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.modal-wrapper-large {
    background: #fff;
    width: 600px;
    height: 514px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.modal-content {
    width: 100%;
    height: 100%;
}

.modal-header {
    position: relative;
    height: 72px;
    border-bottom: 2px solid #D9DBE9;
}

.modal-header-btn {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 24px;
    top: 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-header-title {
    position: absolute;
    width: 125px;
    height: 24px;
    left: 237px;
    top: 24px;
    text-align: center;
}

.back-drop {
    background: rgba(63, 61, 61, 0.692);
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 1.3s;
    width: 100%;
}

.modal-body {
    width: 100%;
    height: 100%;
}

.modal-link {
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.75px;
    color: #007099;
}

.modal-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.modal-link.loading {
    color: #D9DBE9;
}


/* Sign Up */
.signup-modal-phone-account {
    margin: 34px 0 0 0;
}

.inner-modal-content {
    width: 326px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.btn-next-signup {
    margin: 12px 0 0 0;
}

.inner-modal-content.loading{
    color: #D9DBE9;
}

.horizontal-line {
    width: 100%; 
    text-align: center; 
    border-bottom: 2px solid #D9DBE9; 
    line-height: 0.1em;
    margin: 36px 0 34px 0; 
}

.horizontal-line-text {
    background:#fff; 
    padding:0 4px; 
    color: #6E7191;
    font-weight: 500;
    font-size: 13px;
}

.modal-social-btns {
    width: 325px;
    height: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.already-acc {
    display: flex;
    justify-content: flex-start;
    margin: 12px 0 0 0;
}

#already-acc-txt {
    letter-spacing: 0.75px;
    font-size: 15px;
    line-height: 24px;
    width: 126px;
    height: 24px;
    color: #4E4B66;
}

.signup-link {
    margin: 0 0 0 6px;
}

/* OTP */
.otp-resubmit-message {
    display: none;
    width: 178px;
    height: 48px;
    border: 1px solid #00994D;
    border-radius: 8px;
    margin: 21px 0 -18px 0;
    align-items: center;
    position: relative;    
}

.otp-resubmit-message.show {
    display: flex;
}

.otp-resubmit-icon {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 24px;
}

.resubmit-message {
    position: absolute;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.25px;
    left: 54px;
    color: #00994D;
}

.check-icon {
    width: 16px;
    height: 16px;
}

.otp-confirm-msg {
    width: 237px;
    height: 48px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    margin-top: 34px;
}

.otp-confirm-msg.loading {
    color: #D9DBE9;
}

.no-valinum {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.no-valinum-txt {
    font-size: 15px;
    line-height: 24px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.75px;
    padding-bottom: 6px;
}

.re-send-valinum {
    padding-right: 6px;
}

.alt-register {
    padding-left: 6px;
}

.spinner {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 50%;
    top: 58%;
    transform: translateX(-50%);
    display: none;
}

.spinner.show {
    display: block;
}


/* Auth Success */
.last-step-text-wrapper {
    margin: 24px 0 23px 0 ;
}

.user-nickname {
    margin: 0 0 12px 0;
}

.user-password {
    margin: 0 0 12px 0;
}

.user-password-confirm {
    margin: 0 0 12px 0;
}

.terms-wrapper {
    margin: 0 0 24px 0;
}

/* Login */

.login-modal-phone-email {
    margin: 30px 0 12px 0;
}

.forgot-password {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 12px 0 0 0;
}

.btn-next-login {
    margin: 36px 0 0 0;
}

.horizontal-line-login {
    width: 100%; 
    text-align: center; 
    border-bottom: 2px solid #D9DBE9; 
    line-height: 0.1em;
    margin: 23px 0; 
}