/* Auth Success */
.last-step-text-wrapper {
    margin: 24px 0 23px 0 ;
}

.user-nickname {
    margin: 0 0 12px 0;
}

.user-password {
    margin: 0 0 12px 0;
}

.user-password-confirm {
    margin: 0 0 12px 0;
}

.terms-wrapper {
    margin: 0 0 24px 0;
}