.user-dashboard-container {
    width: 100vw;
    height: 85vh;
    display: flex;
}


/* Userdash Left Menu */

.user-dash-left-menu {
  width: 22.4%;
  height: 100%;
  border: 1px solid #000;
}

.user-menu-tab-group-container {
  width: 122px;
  margin: 48px 0 0 117px;
}

.user-menu-tab-title-container,
.user-menu-tab-sublinks-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 122px;
  height: 35px;
}

.user-menu-tab-icon-container,
.user-menu-tab-sublink-icon-container {
  width: 20px;
  height: 20px;
  margin: 0 12px 0 0;
}

.user-menu-tab-icon-container img {
  width: 100%;
  height: 100%;
}

.user-menu-tab-text-container,
.user-menu-tab-sublink-text-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 88px;
  height: 22px;
}

.user-menu-tab-text {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0.25px;
  color: #262338;
}

.user-menu-tab-sublink-text:hover {
  color: #007099;
  cursor: pointer;
}

.user-menu-tab-sublink-text {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0.25px;
  color: #6E7191;
}

/* User Dash Content */

.user-dashboard-content{
  width: 87.6%;
  height: 100%;
  border: 1px solid #000;
}

/* User Info */
.user-info-content {
  width: 100%;
  height: 100%;
}

.user-info-container {
  display: flex;
  max-width: 325px;
  flex-direction: column;
  margin: 48px 0 0 0;
}

.user-info-title-wrapper {
  margin: 0 0 25px 0;
}

.user-info-title,
.user-info-address-title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 1px;
  color: #262338;
}

.user-info-address-container {
  max-width: 540px;
  margin: 57px 0 0 0;
}

.user-info-address-container .user-info-address-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-info-address-container .add-address-link {
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.75px;
  color: #007099;
  transition: transform .1s;
}

.user-info-address-container .add-address-link:hover {
  cursor: pointer;
}

.user-info-address-container .add-address-link:active {
  transform: scale(0.95);
}