/* Sign Up */
.signup-modal-phone-email {
    margin: 34px 0 0 0;
}

.inner-modal-content {
    width: 326px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.btn-next-signup {
    margin: 12px 0 0 0;
}

.inner-modal-content.loading{
    color: #D9DBE9;
}

.horizontal-line {
    width: 100%; 
    text-align: center; 
    border-bottom: 2px solid #D9DBE9; 
    line-height: 0.1em;
    margin: 36px 0 34px 0; 
}

.horizontal-line-text {
    background:#fff; 
    padding:0 4px; 
    color: #6E7191;
    font-weight: 500;
    font-size: 13px;
}

.modal-social-btns {
    width: 325px;
    height: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.already-acc {
    display: flex;
    justify-content: flex-start;
    margin: 12px 0 0 0;
}

#already-acc-txt {
    letter-spacing: 0.75px;
    font-size: 15px;
    line-height: 24px;
    width: 126px;
    height: 24px;
    color: #4E4B66;
}

.signup-link {
    margin: 0 0 0 6px;
}