.inputfield {
    width: 325px;
    height: 56px;
    background: #F7F7FC;
    border-radius: 10px;
    border: 0;
    font-size: 15px;
    line-height: 24px;
    padding: 16px 0 16px 24px;
}

.inputfield.focus {
    border: 2px solid #14142B;
}

.inputfield-input {
    border: none;
    outline: none;
    height: 20px;
    width: 200px;
    background: #F7F7FC;
}

.inputfield-input::placeholder {
    width: 120px;
    height: 24px;
    font-size: 15px;
    line-height: 24px;
    color: #6E7191;
}