/* Modal */
.modal-wrapper {
    background: #fff;
    width: 600px;
    height: 450px;
    transition: all .5s ease;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.modal-content {
    width: 100%;
    height: 100%;
}

.modal-header {
    position: relative;
    height: 72px;
    border-bottom: 2px solid #D9DBE9;
}

.modal-header-btn {
    position: absolute;
    /* background: url(./icons/close.png);
    background-repeat: no-repeat;
    background-position: center; */
    /* width: 24px;
    height: 24px; */
    left: 24px;
    top: 24px;
    cursor: pointer;
    /* border: none; */
}

.modal-header-title {
    position: absolute;
    width: 125px;
    height: 24px;
    left: 237px;
    top: 24px;
    text-align: center;
}

.back-drop {
    background: rgba(63, 61, 61, 0.692);
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 1.3s;
    width: 100%;
}

.modal-body {
    width: 100%;
    height: 100%;
}


/* Register Modal Content 1 */
.register-modal-content-1 {
    width: 326px;
    height: 266px;
    display: block;
    margin: 34px auto 0 auto;
}

#horizontal-line {
    width: 100%; 
    text-align: center; 
    border-bottom: 2px solid #D9DBE9; 
    line-height: 0.1em;
    margin: 36px 0 34px 0; 
}

#horizontal-line-text {
    background:#fff; 
    padding:0 4px; 
    color: #6E7191;
    font-weight: 500;
    font-size: 13px;
}

.modal-social-btns {
    width: 325px;
    height: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-bottom-info {
    display: flex;
    justify-content: flex-start;
    margin: 12px 0 0 0;
}

#already-acc-txt {
    letter-spacing: 0.75px;
    font-size: 15px;
    line-height: 24px;
    width: 126px;
    height: 24px;
    color: #4E4B66;
}

#register-link {
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.75px;
    color: #007099;
    margin: 0 0 0 6px;
}