/* Modal */

.modal-wrapper {
    background: #fff;
    width: 600px;
    height: 450px;
    transition: all .5s ease;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.modal-header {
    position: relative;
    height: 72px;
    border-bottom: 2px solid #D9DBE9;
}

.modal-header-btn {
    position: absolute;
    /* background: url(./icons/close.png);
    background-repeat: no-repeat;
    background-position: center; */
    /* width: 24px;
    height: 24px; */
    left: 24px;
    top: 24px;
    cursor: pointer;
    /* border: none; */
}

.modal-header-title {
    position: absolute;
    width: 125px;
    height: 24px;
    left: 237px;
    top: 24px;
    text-align: center;
}

.back-drop {
    background: rgba(63, 61, 61, 0.692);
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 1.3s;
    width: 100%;
}

.modal-header-btn:focus {
    outline: none;
}

.modal-header-btn:active {
    transform: scale(0.98);
}


