/* Forgot Password */
.forgot-password-msg {
    width: 202px;
    height: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.75px;
    color: #4E4B66;
    margin: 34px 0 0 0;
}

.forgot-password-phone-email {
    margin: 24px 0 0 0;
}

.forgot-password-btn-next {
    margin: 12px 0 0 0;
}