
/* Header Buttons */
.login-btn {
    background: #fff;
    color: #007099;
    border: 2px solid #007099;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}

.register-btn {
    background: #007099;
    color: #fff;
    border: 2px solid #007099;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    margin: 0 0 0 20px;
}

.login-btns:focus {
    outline: none;
}

.login-btns:active {
    transform: scale(0.98);
}

/* Register Modal */
.register-modal-header {
    position: relative;
    height: 72px;
    border-bottom: 2px solid #D9DBE9;
}

.register-modal-header-btn {
    position: absolute;
    /* background: url(./icons/close.png);
    background-repeat: no-repeat;
    background-position: center; */
    /* width: 24px;
    height: 24px; */
    left: 24px;
    top: 24px;
    cursor: pointer;
    /* border: none; */
}

.register-modal-header-btn:focus {
    outline: none;
}

.register-modal-header-btn:active {
    transform: scale(0.98);
}

.modal-header-title {
    position: absolute;
    width: 125px;
    height: 24px;
    left: 237px;
    top: 24px;
    text-align: center;
}