/* Login */

.login-modal-phone-email {
    margin: 30px 0 12px 0;
}

.forgot-password {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 12px 0 0 0;
}

.btn-next-login {
    margin: 36px 0 0 0;
}

.horizontal-line-login {
    width: 100%; 
    text-align: center; 
    border-bottom: 2px solid #D9DBE9; 
    line-height: 0.1em;
    margin: 23px 0; 
}